    <div class="g2_piao he_add" style="">

        <div class="g2_piaonr g2_piaonr1">

            <div class="g2_piaotop">

                <div class="g2_piaopic">

                    <img class="g2_piaopic1" src="images/icons/float-wechat.png" alt="">

                    <img class="g2_piaopic2" src="images/icons/float-wechat-active.png" alt="">

                </div>

                <p>微信</p>

            </div>

            <div class="g2_piaonr1_tu">
                <img src="images/contact/wechat-qr.jpg" alt="微信二维码">
            </div>

        </div>

        <div class="g2_piaonr g2_piaonr2">

            <div class="g2_piaotop">

                <div class="g2_piaopic">

                    <img class="g2_piaopic1" src="images/icons/float-phone.png" alt="">

                    <img class="g2_piaopic2" src="images/icons/float-phone-active.png" alt="">

                </div>

                <p>服务热线</p>

            </div>

            <div class="g2_piaonr2_wz">

                <p>+86 13817631418<br></p>

            </div>

        </div>


        <div class="g2_piaonr g2_piaonr4">

            <div class="g2_piaotop">

                <div class="g2_piaopic">

                    <img class="g2_piaopic1" src="images/icons/float-top.png" alt="">

                    <img class="g2_piaopic2" src="images/icons/float-top-active.png" alt="">

                </div>

                <p>TOP</p>

            </div>

        </div>

    </div>
