        <footer class="ma_ft">

            <div class="ma_fttbox">

                <div class="ma_ftt mc_cont1200 clearfix">

                    <div class="ma_ftt1 fl clearfix">

                        <div class="ma_ftt1a">

                            <a href="index.html" class="ma_ftt1a1">

                                <img src="images/logo.png" alt="">

                            </a>

                            <a href="company.html" class="ma_ftt1a2">

                                <img src="images/logo.png" alt="">

                            </a>

                        </div>

                        <div class="ma_ftt_navrow">
                        <ul class="ma_ftt1ul  clearfix">

                            <li class="ma_ftt1li"><a href="products.html#conveying">产品</a><a
                                    href="products.html#conveying">输送系统 </a><a
                                    href="products.html#sorting">分拣系统</a><a
                                    href="products.html#storage">密集存取系统</a><a href="products.html#handling">搬运系统
                                </a><a href="products.html#software">智慧之源 </a><a href="products.html#software">软件产品 </a>
                            </li>
                            <li class="ma_ftt1li"><a href="solutions.html">解决方案</a><a
                                    href="solutions.html#ecommerce">电商行业</a><a href="solutions.html#express">快递行业</a><a
                                    href="solutions.html#retail">商超行业</a><a href="solutions.html#apparel">鞋服行业</a><a
                                    href="solutions.html#manufacturing">智能制造</a><a href="solutions.html#pharma">医药行业</a></li>
                            <li class="ma_ftt1li"><a href="service.html#pre"> 服务与支持</a><a
                                    href="service.html#pre">售前服务</a>
                                    <a href="service.html#after">售后服务</a>
                                </li>
                            <li class="ma_ftt1li"><a href="company.html">关于我们</a><a
                                    href="company.html">公司简介</a><a href="contact.html">联系我们</a></li>
                        </ul>

                    <div class="ma_ftt2">

                        <div class="he_fttp">

                            <div class="he_lanxk">

                                <p class="he_htopti">联系方式</p>
                                <div class="he_lanli">
                                    <p>电话：+86 13817631418</p>
                                    <p>ethan@evotree.top</p>
                                    <p>商务合作：ethan@evotree.top</p>
                                </div>
                            </div>

                        </div>


                    </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="ma_ftbbox">

                <div class="ma_ftb mc_cont1200">

                    <div class="mc_ft_copyright">

                        <p>
                            <span>2026 进化树科技版权所有</span>
                            <a href="https://beian.miit.gov.cn/" target="_blank" textvalue="浙ICP备2026053326号-1">浙ICP备2026053326号-1</a>
                        </p>
                    </div>

                </div>

            </div>

        </footer>
